<h1>about</h1>
<p>

	<%= link_to "one month rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "sign up", "http://rubyonrails.org" %>
	in one month. THis is the sample application.
</p>

