<% if user_signed_in? %>
<h2>you are logged in homie</h2>
<% else %>

<div class="hero-unit">
<h1>Keeping it Real With Rails!</h1>
<p>
You've found the keep it real
<%= link_to "Keep It Real", "http://www.mustreads.com" %>
application.
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>





