<div class="hero-unit">
<h1>Keeping it rails to the!</h1>
<p>
You've found the keep it real
<%= link_to "Keep It Real", "http://www.prettysweet.com" %>
application.
</p>
<p>
	<%= link_to "Sign Up Now!", "http://www.mustreads.com", class: "btn btn-primary btn-large" %>
</p>
</div>





